{% extends 'site_queue/base.html' %}

{% load static %}

{% block extra_css %}
  
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class='text-center'>
        <h1 style='color: #003e52; font-size: 48px;'>Oops!</h1>
        <br>
        <p >
            <h4>Your session has expired</h4>
            <br>
        </p>
        <p>
        <a class='btn btn-primary' href="{{ queue_manager_obj.active_session_url }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start again&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </p>
    </div>
</div>
<br>
<br>
{% endblock %}