{% extends 'site_queue/base.html' %}

{% load static %}


{% block messages %}
{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="300">

<div class='container'>

    <h1 style='color: #003e52; font-size: 48px;'>Queue full</h1>
    <br>
    <br>
    <p>
       Demand for the service is currently very high.<br><br>
       A queue is in operation but all available positions in the queue are occupied.<br><br>
       Please try again later
        <br><br>
    </p>   
</div>
</div>

<script>
    var queue_expired = {
        deleteCookie: function (name, path, domain) {
    
            document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC;" +
                            (domain ? "; domain=" + domain : "") +
                            (path ? "; path=" + path : "");
        },       
    }
    queue_expired.deleteCookie("sitequeuesession","/",'{{ DJANGO_SETTINGS.QUEUE_DOMAIN }}');
    queue_expired.deleteCookie("activatedsessionid","/",'{{ DJANGO_SETTINGS.QUEUE_DOMAIN }}');
    
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G8JPH7EGG5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G8JPH7EGG5');
</script>

{% endblock %}